 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: #388b6f;
    border-radius: 10px;
}
html::-webkit-scrollbar{
    width: 10px;
}
body{
    background: white;
}
/* Header Start */
.header{
    background: white;
    width: 100%;
    box-shadow: 0px 1px 1px black;
}
.header nav{
    position: relative;
    display: flex;
    max-width: calc(100% - 200px);
    margin: 0 auto;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}
  nav .content{
    display: flex;
    align-items: center;
} 
 nav .content .links{
    margin-left: 80px;
    display: flex;
}
 nav .content .logo a img{
    width: 150px;
}
nav .content .links li{
    list-style: none;
    line-height: 70px;
}
 #first{
    color: #388b6f;
}
.content .links li a,
 .content .links li label 
    {color: black;
    font-size: 18px;
    padding: 9px 17px;
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.3s ease;
}
 .content .links li label{ 
    display: none;
} 
 .content .links li a:hover,
.content .links li label:hover{
    color: #388b6f;
}
.header .search-icon,
.header .menu-icon{
    color: #388b6f;
    font-size: 18px;
    line-height: 70px;
    width: 70px;
    text-align: center;
    cursor: pointer;
}
.header .menu-icon{
    display: none;
}
.header #show-search:checked ~ .search-icon i::before{ 
    content: "\f00d";
}
 .header .search-box{
    position: absolute;
    height: 100%;
    max-width: calc(100% - 50px);
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
 .header #show-search:checked ~ .search-box{
    opacity: 1;
    pointer-events: auto;
}
 .search-box input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 17px;
    color: black;
    background: white;
    padding: 0 100px 0 15px;
}
 .search-box input::placeholder{
    color: black;
}
.search-box .go-icon{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    line-height: 60px;
    width: 70px;
    background: transparent;
    border: none;
    outline: none;
    color: #388b6f;
    font-size: 20px;
    cursor: pointer;
}
.header input[type="checkbox"]{
    display: none;
}  
/* Responsive */
 @media screen and (max-width:1250px){
    .header nav{
        max-width: 100%;
        padding: 0px 20px;
    }
    nav .content .links{
        margin-left: 30px;
    }
    .content .links a{
        padding: 8px 13px;
    }
    .header .search-box{
        max-width: calc(100% - 100px);
    }
    .header .search-box input{
        padding: 0px 100px 0px 15px;
    }
    .body{
        display:flex;
        justify-content: center;
        align-content: center;
        text-align: center;
    } 
}

@media screen and (max-width: 900px){
    .header .menu-icon
    {
        display: block;
    }
    .header #show-menu:checked ~ .menu-icon i::before{
        content: "\f00d";
    }
    nav .content .links{
        display: block;
        position: fixed;
        background: white;
        height: 100%;
        width: 100%;
        top: 70px;
        left: -100%;
        margin-left: 0;
        max-width: 350px;
        overflow: auto;
        padding-bottom: 100px;
        transition: all 0.3s ease;
    }
    nav #show-menu:checked ~ .content .links{
        left: 0%;
    }
    .content .links li{
        margin: 15px 20px;
    } 
    .content .links li a,
    .content .links li label{
        line-height: 40px;
        font-size: 20px;
        display: block;
        padding: 8px 18px;
        cursor: pointer;
    }
    .content .links li a.desktop-link{
        display: none;
    }  
    .body{
        display:flex;
        justify-content: center;
        align-content: center;
        text-align: center;
    } 
}
.body{
    background-image: url("background-img.png");
    background-size: cover;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:780px;
    width:100%;
    color:white;
    padding-bottom: 100px;
    gap:10px;
}
.body h1{
    font-size:3.9rem;
}
.body p{
     font-size: 1.2rem;
}
.body button{
    border:green solid 2px;
    color:green;
    height:30px;
    width:200px;
    font-size:medium;
    margin:10px 0px 0px 0px;
}
.body button:hover{
    background-color: #388b6f;
    color:white;
}
.body1{
    width:100%;
    background-color: rgb(238, 237, 236);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    padding:50px 8% 20px; 
    gap:0.96rem;
    margin-top: 40px;
}
.p1{
    margin-top:15px;
    font-weight: bolder;
    font-size: 1.2rem;
}
.p2{
    font-size: 1.1rem;
}
 .body1 .row{
    position: relative;
    border-radius: 10px;
    cursor: pointer;

} 
@media(max-width:920px){
    .body1{ 
        grid-template-columns: 1fr;
    }
   
}
.body2{
    background-color: white;
}
.body2 .section1 img{
    height:auto;
    max-width:530px;
    width:100%;
    border-radius: 10px;
}
.body2 .section1 h1{
    color:green;
    margin-left:40px;
}
.body2 .section1 p{
    margin-top: 10px;
    margin-left:40px;
}

.body2 .section1 button{
    margin-top:20px;
    border:1px solid green;
    color:green;
    height:40px;
    width:150px;
    background-color: white;
    margin-left:40px;
    transition: ease-in 0.3s;
    border-radius: 5px;
}
.body2 .section1 button:hover{
    background-color: #388b6f;
    color:white;
}
.body2 .section1{
    padding: 150px 8% 120px;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap:1.3rem;
   
}
@media(max-width:900px)
{
    .body2 .section1{
        grid-template-columns: 1fr;
    }
}
.body3{
    padding:150px 8% 20px;
}
.body3 h1{
    text-align: center;
    color: #388b6f;
    font-size:2.3rem;
}
.body4{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap:1.2rem;
    margin-top: 20px;
    align-items: center;
}
.body4 button{
    border:2px solid #388b6f;
    height:30px;
    width:130px;
    margin-bottom: 10px;
    background-color: white;
    transition: ease-in 0.2s;
    margin-top:9px;
    color:#2b7059;
    font-weight: bold;
    border-radius: 5px;
}
.body4 button:hover{
    background-color: #388b6f;
    color: white;
}
.body4 .products{
    gap:30px;
    background-color: #e6e4e4;
    border-radius: 9px;
    text-align: center;
}
.p3{
    margin:5px 0px 0px 5px;
    letter-spacing: 1px;
}
.p4{
    margin-top:5px;
}
.products .img1 img{
    margin-top: 10px;
    height:215px;
    width:150px;
}
.products .img2 img{
    margin-top: 10px;
    height:220px;
    width:200px;
}
.products .img3 img{
    padding-top:10px;
    height:240px;
    width:200px;
}
.body4 h2{
    color:#2b7059;
}
@media (max-width:900px){
.body4
{
    grid-template-columns: 1fr;
}
}
.body5{
    margin-top: 60px;
    background-image: url(banner.png);
    background-size: cover;
    text-align: center;
    height:350px;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    gap:10px;
}
.body5 button{
    color:#2b7059;
    border:2px solid green;
    height:30px;
    width:130px;
    background-color: white;
    font-size: medium;
    transition: ease-in 0.2s;
    font-weight: bold;
    border-radius: 5px;
}
.body5 button:hover{
    background-color: #2b7059;
    color: white;
}
.body5 p{
    font-size: large;
    font-weight: bold;
}
.offers{
    padding-top: 150px;
}
.offers1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.offers h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5rem;
    color:#511d06;
    margin-bottom: 50px;
}
.offers1 img{
    width:100%;
}
@media(max-width:900px){
    .offers1{
        grid-template-columns: 1fr;
    }
}
.body6{
    padding:150px 8% 20px;
}
.body6 h1{
    text-align: center;
    color:#2b7059;
}
.body7{
    padding:150px 8% 20px;
}
.body7 h1{
    margin-bottom: 40px;
    text-align: center;
    color:#2b7059;
}
.body10{

    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-items: center;
}
.body9{
    gap: 10px;
}
.body7 img{
    width:100%;
    max-width: 530px;
}
.body9{
    gap:10px;
}
.body9 img{
    height:200px;
    
}
.body7 img:hover{
    transform: translateY(-1rem);
}
@media (max-width:900px){
    .body10
    {
        grid-template-columns: 1fr;
    }
}
.body11{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    align-items:center ;
    padding:150px 8% 100px;
    background-color: #eeeaea;
    gap:2.5rem;
    margin-top: 60px;
}
.section2 h1{
    margin-bottom: 20px;
    color:#388b6f;

}
.section2{
    padding-top:20px
} 
.p5{
    color:#43bd94;
    font-weight: bold;
    margin-top:10px ;
}
.section2 div a{
    color:#43bd94;
    font-size: 1rem;
    font-weight: bold;
}
.a1{
    margin-top: 10px;
}
.form{
    margin-top:20px;
    
}
.p6{
    font-weight: bold;
}
.form input,.form textarea{
    
    height:30px;
    width: 100%;
    padding: 10px;
    background: white;
    color: black;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.form textarea{
    height:120px;
}
.form button{
    height:30px;
    width:150px;
    background-color: #057b54;
    color:white;
    border: none;
    border-radius: 5px;
    transition: all ease-out 0.3s;
}
.form button:hover{
    width:170px;
}
@media(max-width:900px){
    .body11{
        grid-template-columns: 1fr;
    }
}
.footer{
    padding:120px 8% 50px;
}
.footer h1{
    color:#2b7059;
    font-size: 2.1rem;
    text-align: center;
    text-transform: uppercase;
}
.footer1{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,auto));
    text-align: center;
    justify-items: center;
    padding:100px 8% 120px; 
    gap:30px;
}
.imgpart{
    background-color: #eeeaea;
    border-radius: 10px;
    height:300px;
    width: 100%;
    padding:50px 4% 50px;
    
}
.imgpart img{
    height:80px;
    width:80px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.imgpart p{
    margin-top: 20px;
    font-weight: bold;
}
.name{
    text-transform: uppercase;
    margin-bottom: 10px;
}
.footer2{
    background-color: #eeeaea;
    text-align: center;
    padding:50px 4% 50px;
    
}
.footer2 i{
    margin-top: 30px;
}
.footer3{
    border:1px black solid;
    margin-top:40px;
    width:100%;
    
}
.d{
    margin-top:30px;
    line-height: 20px;
}
.des{
    font-size: x-large;
    margin-bottom: 10px;
    color:#124d39;
}
.footer2 p{
    word-spacing: 1px;
}
